.chat {
    text-align: center;
    background: linear-gradient(45deg, #FFD6FD, #D4F4FA);
    width:40%;
    height: 60%;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left:30%;
}

h5 {
    color: white;
    position: relative;
    text-shadow: 1px 1px gray;
}

#indiv{
    background-color: #FFFFE5;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    overflow-x: auto;
}
.me{
    position: absolute;
    right: 13px;
    width:50%;
    background-color: rgb(249, 206, 255);
    font-size: 5%;
    border-radius: 5px;
    color: white;
    margin: 2px;
    padding: 5px;
    text-align: start;
}
.my-chat{
    position: absolute;
    right: 13px;
    width:50%;
    background-color: rgb(225, 0, 255);
    font-size: 5%;
    border-radius: 5px;
    color: white;
    margin: 2px;
    padding: 5px;
    text-align: start;
}
.you{
    position: absolute;
    left: 13px;
    width:50%;
    background-color: #b0caff;
    font-size: 5%;
    border-radius: 5px;
    color: white;
    margin: 2px;
    padding: 5px;
    text-align: start;
}
.other-chat{
    position: absolute;
    left: 13px;
    width:50%;
    background-color: #0055fe;
    font-size: 5%;
    border-radius: 5px;
    color: white;
    margin: 2px;
    padding: 5px;
    text-align: start;
}

#indiv::-webkit-scrollbar {
    background-color: white;
    border-radius: 10px;
    width: 3px;
}
#indiv::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}
#indiv::-webkit-scrollbar-track {
    width : 2px;
}

.input{
    position: absolute;
    bottom: 1%;
    width: 100%;
}
#members {
    width: 10%;
    border-radius: 5px;
}
.inputSend{
    width: 80%;
    border-radius: 5px;
    border:none;
}
.inputSend:focus {
    outline-color: #EAEAEA;
}
#closebtn {
    position: absolute;
    top: 1%;
    right: 3%;
    width: 15px;
    cursor: pointer;
}
.alarmMsg {
    background-color: rgb(177, 177, 177);
    font-size: 5%;
    border-radius: 5px;
    color: white;
    margin: 2px;
    padding: 1px;
}