<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        h3 {
            color: blue;
        }
    </style>
</head>
<body>
        <form action="form" id="user_form" align="center">
            <br>
            <h3>Welcome to hello world.</h3>
            ID.<br>
            <input type="text" id="id"><br>
            Password.<br>
            <input type="password" id="pw"><br>
            <button type="button" class="login" onclick="login();">Login</button>
            <a href="http://localhost:8000/user/signup">
                <button type="button" class="signup" onclick="signup();">Sign up</button>
            </a>

        </form>
    <script>
    </script>
</body>
</html>