<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if ( !isLogin) {%>
    <div align="center">
        Welcome <br>
        <button>회원가입</button>
     <a href="/login">
        <button type="button" onclick="login();">로그인</button>
     </a>
     <%} else {%>
        <div><%=id%>님 환영홥니다.</div>
        <a ref="/logout">로그아웃</a>
        <%}%>
    </div>
</body>
</html>